healthapp/__pycache__
app/__pycache__
healthapp/migrations/__pycache__
healthapp/__pycache__/*.pyc
app/migrations/__pycache__/
healthapp/migrations/__pycache__/*.pyc
healthapp/migrations/0001_initial.py
scans/*.jpg
scans/*.png